<div class="main">
  <div class="main-sidebar">
    <div class="app-title">Vuugga</div>
    <div class="sidebar">
      <ul class="sidebar-menu">
        <li class="sidebar-header">Main Navigation</li>
        <li class="menu-tree">
          <%= link_to (root_path) do %>
            <%= fa_icon "bars", text: "Shared Ride Offers"%>
          <% end %>
        </li>
        <li class="menu-tree">
          <%= link_to (ride_offers_path) do %>
            <%= fa_icon "car", text: "My Ride Offers"%>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
